<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aphantocosm</title>
    <link rel="icon" href="/images/aphantocosm.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Aphantocosm</h1>
        <p>Welcome to the hidden world of UFOs!</p>
    </header>
    <main>
        <section>
            <h2>Explore the Unseen</h2>
            <p>Discover the mysteries of the universe and beyond. Join us as we delve into the hidden realms of the Aphantocosm.</p>
            
            <% for (let article of articles) { %>
                <a href="/articles/<%- article.category %>/<%- article.title %>">aphantocosm.com/articles/<%- article.category %>/<%- article.title %></a>
                <br><br>
            <% } %>

        </section>
        
    </main>
    <footer>
        <p>&copy; 2024 Aphantocosm. All rights reserved.</p>
    </footer>
</body>
</html>
