<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/aphantocosm.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>Aphantocosm</h1>
        <p>Welcome to the hidden world of UFOs!</p>
    </header>
    <main>
        <section>
            <h2>Explore the Unseen</h2>
            <p>Discover the mysteries of the universe and beyond. Join us as we delve into the hidden realms of the Aphantocosm.</p>
            <img src="/images/ufo.png" alt="UFO">
        </section>
        
    </main>
    <footer>
        <p>&copy; 2024 Aphantocosm. All rights reserved.</p>
    </footer>
</body>
</html>
