body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    height: 200px;
    width: 100%;
    position: absolute;
    text-align: center;
    margin: 0;
    top: 0;
    background-color: #111;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

main {
    padding: 20px;
}

footer {
    background-color: #111;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 0.8em;
}
